<style>
        body {
            background-color: rgb(68, 220, 240);
            font-family: Arial, Helvetica, sans-serif;
        }
        .ef {
            background-color: rgb(124, 106, 84);
            color: rgb(241, 245, 247);
        }
        .sx {
            background-color: rgb(189, 151, 109);
            color: rgb(241, 245, 247);
        }
        .rh {
            background-color: rgb(124, 106, 84);
            color: white;
        }
        .cd {
            background-color: white;
            width: auto;
            border: 1px solid black;
            text-align: center;
        }
        h1 {
            background-color: white;
            width: auto;
            border: 1px solid black;
            text-align: center;
        }
    </style>